<div class="card">
    <img alt="Character" title="Character" [src]="imgUrl" *ngIf="(imgUrl)" class="card__image" />
    <img alt="Bookmark" title="Bookmark" src="assets/star.svg" class="card__bookmark" *ngIf="!bookMark && !deleteAction"
        (click)="saveItem()" />
    <img alt="Bookmark" title="Bookmark" src="assets/starFilled.svg" class="card__bookmark saved"
        *ngIf="bookMark && !deleteAction" />
    <img alt="Delete" title="Delete" src="assets/trash.svg" class="card__bookmark" *ngIf="deleteAction"
        (click)="deleteItem(deleteIndex)">
    <span class="card__name" [routerLink]="['/', getItemLink()[0], getItemLink()[1]]">{{name}}</span>
</div>