<div class="input">
    <span class="input__label" [ngStyle]="labelStyle">{{label}}</span>
    <input class="input__field" [placeholder]="placeHolder" [formControl]="fControl" (focus)="(touchedInput())"
        [readonly]="readonly" />
    <div [class]="previewResults.length > 0 ? 'preview' : 'preview preview--empty'">
        <ng-container *ngFor="let item of previewResults; index as i">
            <div *ngIf="(item.type !== 'filter')" class="preview__result" [routerLink]="getItemLink(i)">
                {{item.name}}</div>
            <div *ngIf="(item.type === 'filter')" class="preview__result" (click)="selectedItem(i)">
                {{item.name}}</div>
        </ng-container>
    </div>
</div>