@import "__settings-dir";
@import "__tools-dir";

.input {
  width: 100%;
  position: relative;
}

.input__field {
  width: 100%;
  outline: none;
  border-width: 0 0 2px;
  border-color: black;
  font-size: 20px;
  font-family: $font-Roboto-Condensed-Regular;
  padding: 0.5em;
  margin-top: 0.2em;
  transition: all 0.2s ease-in-out;
  &:focus {
    background-color: lighten($background-dark-grey, 80);
  }
}

.input__label {
  position: absolute;
  top: -60%;
  font-size: 28px;
  font-family: $font-Roboto-Condensed-Bold;
}

.preview {
  font-size: 20px;
  height: 10em;
  padding: 0.5em;
  overflow-y: auto;
  background-color: lighten($background-dark-grey, 60);
  font-family: $font-Roboto-Condensed-Regular;
  position: absolute;
  width: 100%;
  transition: height 0.3s ease-in-out;
  z-index: 100;
  &.preview--empty {
    height: 0;
    padding: 0;
  }
}

.preview__result {
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: lighten($background-dark-grey, 50);
  }
  &:active {
    background-color: lighten($background-dark-grey, 40);
  }
}

@include screen-small {
  .input__field {
    font-size: 16px;
  }
  .input__label {
    font-size: 18px;
  }
  .preview {
    font-size: 16px;
  }
}
