@import "__settings-dir";
@import "__tools-dir";

.navbar {
  width: 100vw;
  height: 5vh;
  background-color: $background-dark;
  font-size: 32px;
  display: flex;
  align-items: center;
  position: relative;
}

.navbar__brand {
  height: 5vh;
  width: calc(5vh * 2.48);
  width: auto;
  cursor: pointer;
}

.navbar__navigation {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.navbar__item {
  font-family: $font-Roboto-Condensed-Bold;
  color: $background-clear;
  text-decoration: none;
  margin: 0 0.5em;
  height: 5vh;
  &--active {
    color: $marvel-red;
    border-bottom: 3px solid $marvel-red;
  }
}

@include screen-small {
  .navbar {
    font-size: 14px;
  }
  .navbar__navigation {
    right: 40%;
  }
}
