<div class="items-master">
    <form class="items-master__filters" [formGroup]="filtersForm">
        <div class="items-master__filters-input">
            <app-input [fControl]="filtersForm.controls.nameStartsWith" [placeHolder]="'Filter by name'" [label]="''"
                [previewResults]="[]">
            </app-input>
        </div>
        <div class="items-master__filters-input">

            <app-input [fControl]="filtersForm.controls.comics" [placeHolder]="'Filter by comics'" [label]="''"
                [previewResults]="previewComics" (itemSelected)="updateComicFilter($event)">
            </app-input>
        </div>
        <!-- DISABLED DUE ENDPOINT MISSING FILTER BY TITLE 
            <div class="items-master__filters-input">
            <app-input [fControl]="filtersForm.controls.nameStartsWith" [placeHolder]="'Filter by name'" [label]="''"
                [previewResults]="[]">
            </app-input>
        </div> -->
        <div class="items-master__filters-input">
            <app-input [fControl]="filtersForm.controls.orderBy" [placeHolder]="'Order by'" [label]="''"
                [readonly]="true" [previewResults]="orderByVariables" (touched)="touchedOrderBy()"
                (itemSelected)="updateOrderByFilter($event)">
            </app-input>
        </div>
    </form>
    <div class="divisor"></div>
    <div class="card__grid" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
        (scrolled)="onScrollDown()" *ngIf="charactersToDisplay.length > 0">
        <app-thubnail-item *ngFor="let character of charactersToDisplay"
            [imgUrl]="getImgUrl(character.thumbnail.path, 'portrait_xlarge', character.thumbnail.extension)"
            [type]="'character'" [name]="character.name" [itemId]="character.id">
        </app-thubnail-item>
    </div>
    <div class="empty-result" *ngIf="charactersToDisplay.length == 0 && !loading">
        <img alt="Empty results" title="Empty results" src="/assets/empty.svg" class="empty-result__image">
        <h1>No results</h1>
    </div>
    <div *ngIf="loading"
        [class]="charactersToDisplay.length > 0 ? 'items-master__loading new-page' : 'items-master__loading'">
        <app-loading></app-loading>
    </div>
</div>